
# for the configuration .properties and .xml files:
# expected: a fully-defined URL to the solr instance
solr.url=

# if defined, the solr data will be somewhere other than the default location; 
# REMOVE THE NEXT LINE if you're using the default!!
ecru.solr.data= 

# needed for compiling:
# you need a pointer to the jars of the webserver (e.g.: /usr/local/tomcat-7/lib/ )
appserver.lib=

# if you're building a war, this is where you'll move the war when built
deployments.home=

